*,
*::before,
*::after {
  box-sizing: border-box;
}

:root,
html,
body,
.app {
  margin: 0;
  padding: 0;
  /* background-color: #e4e0e1; */
}

/* =============== Code Mirror CSS ================ */

.ͼ1.cm-focused {
  outline: none;
}

/* =============== Screen Split Gutter CSS ================ */

/* .gutter {
  background-color: #f1f0f0;
} */

.gutter:hover {
  cursor: col-resize;
  background-color: #6e9fec;
}

/* ================= Tailwind CSS ================= */

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --radius: 0.5rem;
  }
}
